In [1]:
import json
import pandas as pd

# load the input JSON data
with open("professionals_nested.json", "r") as f:
    data = json.load(f)

# print(data['professionals'][0])

all_professionals_data = data['professionals']

# Initialize separate data structures for nested data
professional_data = []
job_data = []
skill_data = []
certification_data = []
education_data = []

# Run a loop to process all professional individuals' data
for professional in all_professionals_data:

    # Assign professional_id to use across all tables
    professional_id = professional["professional_id"]

    # Append Individual Professional Data
    professional_data.append({
        "professional_id" : professional_id,
        "years_experience" : professional["years_experience"],
        "current_industry" : professional["current_industry"],
        "current_role" : professional["current_role"],
        "education_level" : professional["education_level"]
    })

    # Append Skill Data
    for skill in professional.get("skills", []):
        skill_data.append({
            "professional_id": professional_id,
            "skill_id" : skill["skill_id"],
            "skill_name" : skill["skill_name"],
            "proficiency_level": skill["proficiency_level"],
            "years_experience": skill["years_experience"]
        })

    # Append Job Data
    for job in professional.get("jobs", []):
        job_data.append({
            "professional_id": professional_id,
            "job_id" : job["job_id"],
            "company" : job["company"],
            "industry": job["industry"],
            "role": job["role"],
            "start_date" : job["start_date"],
            "end_date": job["end_date"],
            "salary_band": job["salary_band"]
        })

    # Append Certifications Data
    for cert in professional.get("certifications", []):
        certification_data.append({
            "professional_id": professional_id,
            "certification_id" : cert["certification_id"],
            "certification_name" : cert["certification_name"],
            "issuing_organization": cert["issuing_organization"],
            "date_earned": cert["date_earned"],
            "expiration_date": cert["expiration_date"]
        })
    
    # Append Educations Data
    for education in professional.get('education', []):
        education_data.append({
            "professional_id": professional_id,
            'education_id': education['education_id'],
            'degree': education['degree'],
            'institution': education['institution'],
            'field_of_study': education['field_of_study'],
            'graduation_date': education['graduation_date']
        })

# print(pd.DataFrame(professional_data[:5]))

# Create DataFrames for each datasets created
professional_df = pd.DataFrame(data=professional_data)
job_df = pd.DataFrame(data=job_data)
skill_df = pd.DataFrame(data=skill_data)
certification_df = pd.DataFrame(data=certification_data)
education_df = pd.DataFrame(data=education_data)

In [6]:
job_df.head()

,professional_id,job_id,company,industry,role,start_date,end_date,salary_band
0,P001,J001,TechCorp,Technology,Junior Analyst,2011-06-15,2013-08-30,2
1,P001,J002,DataWorks,Technology,Data Analyst,2013-09-15,2016-05-20,3
2,P001,J003,Analytix,Technology,Senior Data Analyst,2016-06-01,2019-04-15,4
3,P001,J004,AIVentures,Technology,Data Scientist,2019-05-01,2023-02-28,5
4,P002,J005,MarketBoost,Marketing,Marketing Assistant,2015-03-10,2017-07-20,2

In [14]:



# Date Values Format and nulls
def date_validation(dataframe: pd.DataFrame, date_columns:list):
    for col in date_columns:
        dataframe[col] = pd.to_datetime(dataframe[col], errors="coerce")  # Erroneous dates will be forced to NaT datatype
        null_dates = dataframe[dataframe[col].isnull()]
        # print(null_dates)
        if len(null_dates)>0:
            for d in null_dates:
                print(f"Erroneous Date {d} found at column: {col}")
        else:
            print(f"Date Validation for column: {col} Successful!")
        
    return dataframe

job_df = date_validation(job_df, ['start_date', 'end_date'])

SyntaxError: f-string: unmatched '[' (3297779923.py, line 11)

In [8]:
null_dates

NameError: name 'null_dates' is not defined

In [ ]:

print(professional_data.name)
    
# Data Quality checks and Validation

# Outliers - Years of experience

def yoe_outliers(dataframe: pd.DataFrame, columns:list):
    for col in columns:
        outliers = dataframe[dataframe[col] > 50]   # Catch individuals with over 50 years of Work Experience 
        if outliers:
            for o in outliers:
                print(f"Erroneous Date {o} found in {dataframe} at column: {col}")
        else:
            print(f"Date Validation for column: {col} in {dataframe} Successful!")